.header {
  position: fixed;
  z-index: 1;
  height: 50px;
  width: 100%;
  background-color: black;
  border-bottom: 2px solid $light-gray;
  line-height: 50px;
}

.my-navbar{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: inline;
  padding: 0 10px;
  vertical-align: center;
  &.brand{
    font-weight: 700;
    font-size: 1.5em;
  }
  .navbar-link{
    color: $light-gray;
    text-decoration: none;
    &:hover {
      color: gold;
    }
    &:visited, &:active {
      color: $light-gray;
    }
  }
}

.body-content{
  z-index: 0;
  margin-top: 60px;

}
.transcription-notes{
  text-align: justify;
  padding: 0 2%;
  &.intro-transcription{
    font-size: 1.25em;
    font-weight: 700;
    color: $gold;
  }
}

.transcription-link {
  text-decoration: underline;
  color: $med-gray;
  &:hover, &:active {
    color: $gold;
    text-decoration: underline;
  }
  &:visited{
    color: $med-gray;
  }
}

.video-player{
  //ps, this will probably cause issues on smaller devices, why fixed?
  position: fixed;
}
