.header {
  position: fixed;
  z-index: 1;
  height: 50px;
  width: 100%;
  background-color: black;
  border-bottom: 2px solid $light-gray;
  line-height: 50px;
}

.my-navbar{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: inline;
  padding: 0 10px;
  vertical-align: center;
  &.brand{
    font-weight: 700;
    font-size: 1.5em;
  }
  .navbar-link{
    color: $light-gray;
    text-decoration: none;
    &:hover {
      color: gold;
    }
    &:visited, &:active {
      color: $light-gray;
    }
  }
}

.body-content{
  z-index: 0;
  margin-top: 60px;

}

.my-input {
  background-color: $black;
  border: 1px solid $light-gray;
  // @include placeholder {
  //   font-style:italic;
  //   color: $med-gray;
  //   font-weight: 300;
  // }
}

.search-button{
  background-color: $med-gray;
  color: $black;
  font-weight: 400;
  border: 1px solid $med-gray;
}

.search-grid{
  margin: 0;
  padding: 0;
  display: none;
  &:first-child {
    margin: 5% 0 0 0;
  }
}

.header-text, .body-text{
  color: $light-gray;
  display: table-cell;
  vertical-align: middle;
}

.search-box{
  border: 1px solid $med-gray;
  height: 50px;
  color: $light-gray;
  margin: 0;
  padding: 0;
  text-align: center;
  display: table;
  &.body-box{
    height: 100px;
  }
}

.search-term{
  color: $med-gray;
  text-decoration: underline;
  &:hover, &:active, &:focus{
    color: $light-gray;
  }
  &:visited {
    color: $gold;
  }
}


.transcription-notes{
  text-align: justify;
  padding: 0 2%;
  &.intro-transcription{
    font-size: 1.25em;
    font-weight: 700;
    color: $gold;
  }
}

.transcription-link {
  text-decoration: underline;
  color: $med-gray;
  &:hover, &:active {
    color: $gold;
    text-decoration: underline;
  }
  &:visited{
    color: $med-gray;
  }
}

.video-player{
  //ps, this will probably cause issues on smaller devices, why fixed?
  position: fixed;
}
