.search-image {
  padding: 10% 0;
}

.search-input {
  background-color: $black !important;
  border: 1px solid $light-gray !important;
  color: $light-gray !important;
  // background: url(http://i.imgur.com/lFkqn.png) left center no-repeat;
}

